html { 
	height: 100% 
}

body { 
	height: 100%; margin: 0; padding: 0;
}

#map-canvas { 
	height: 90%;

}

.navbar{
	min-height: 9%;
	background: #EFE3FF;
	border-bottom: 1px solid black;
	font-size: 24px;
	font-family: Arial;
	letter-spacing: -1px;
	padding-top: 30px;
	padding-left: 30px;
}

.loading{
	float: left;
	z-index: 1;
	display: none;
	position: relative;
	margin-top: 20%;
	margin-left: 42%;
	text-align:center;
}